
@model HomeDetailsViewModel

@{
    ViewBag.Title = "Car Details";
}

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Car.CarName</h1> 
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src=@Model.Car.PhotoPath />

                <h4>Name : @Model.Car.CarName</h4>
                <h4>Class : @Model.Car.VehicleClass</h4>
                <h4>Capacity : @Model.Car.Capacity</h4>
                <h4>Type : @Model.Car.CarType</h4>
                <h4>Price : @Model.Car.Price</h4>

            </div>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>
                <a asp-action="edit" asp-controller="home"
                    asp-rout-id="@Model.Car.Id"                   
                    class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}
